.mask-box{
  border: 1px solid white;
  /* transition: all 0.1s cubic-bezier(0.215, 0.610, 0.355, 1); */
}

canvas{
  height: 100%;
  width: 100%;
  display: block;
}
@font-face {
  font-family: 'CRENZO';
  src: url('./Font/CRENZO.otf') format('opentype'),
       url('./Font/CRENZO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Usage */
.crenzo-font {
  font-family: 'CRENZO', sans-serif;
}

@font-face {
  font-family:"MilkyWalky" ;
  src: url('./Font2/MilkyWalky-Regular.otf') format("opentype"),
      url("./Font2/MilkyWalky-Regular.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}
.milky-font{
  font-family: "MilkyWalky" , sans-serif;
}